@font-face {
    font-family: "Highway Gothic Wide";
    src: url("HighwayGothicWide.ttf");
}

@keyframes slide-fromTop {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes slide-fromRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slide-fromLeft {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

/* GENERAL RULES (NOT SPECIFIC TO SCREEN SIZE) */

* {
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none;
    color: white; 
}

body {
    /*background-color: #fefdfb;*/
    background: url("../images/background.jpg");
    color: #333333;
    animation: fadeIn 2s;
    font-size: 16px;
    font-family: "Highway Gothic", sans-serif;
}

/* NAVIGATION */

nav a {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.6em 1.25em;
    margin: 0.25em 0;
    font-size: 1.25em;
    text-align: center;
    color: #333;
    text-decoration: none;
    display: block;
}
nav ul { list-style: none; }
nav {
    position: absolute;
    float: right;
    left: 85%;
    width: 15%;
    animation: slide-fromRight 1.5s;
}
#mobile-nav, #mobile-navwindow { display: none; }
#mobile-nav .mobile-rect {
    width: 2em;
    height: 2px;
    background-color: white;
    margin: 0.3em 0.5em;
}
#mobile-nav :first-child { margin-top: 0.75em; }
#mobile-nav :last-child { margin-bottom: 0.75em; }

/* PAGE HEADER */

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    padding-top: 1em;
    animation: slide-fromTop 1.5s;
    font-size: 2em;
}
header h1 { 
    margin-right: 0.75em;
    margin-left: 10%; 
    display: inline-block; 
    font-family: "Highway Gothic Wide", sans-serif;
    font-weight: 100;
}
.n1 { font-family: inherit; }
.n2 { color: #29ABE2; margin-left: 0.2em; font-family: inherit; }

.animated-text {
    font-family: "Arial", sans-serif;
    font-size: 1em;
    padding: 1.5em 0;
    margin: 2em 2em 0 10%;
}

.animated-text h1 {
    font-family: inherit;
    font-size: 1em;
}
#typewrite {
    font-size: 3em;
    font-weight: 100;
}

#typewrite .cursor {
    border-right: 0.03em solid #222;
    font-size: 1em;
    margin-left: 0.03em;
}

/* MAIN PAGE CONTENT */

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 70vh;
}

main section { margin: 2em auto; }

.view-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.view-buttons a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8em auto;
    padding: 1em;
    border-radius: 1.25em;
}

.view-buttons a i { margin-left: 0.5em; }

#github { background-color: #333333; }
#github:hover { background-color: #444444; }
#resume, #projects a { background-color: #0F81CC; }
#resume:hover { background-color: #2E92D3; }

#projects .container { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-shrink: 1;
}

#projects a { text-align: left; }

#projects article {
    background-color: rgba(255, 255, 255, 0.75);
    max-width: 32em;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-family: 'Arial', sans-serif;
    font-weight: 100;
}

#projects article h1 { font-size: 1em; padding: 1em 0 0 1.5em; }
#projects article p { font-size: 0.75em; padding: 0.75em 2em; }
#projects article a { font-size: 0.75em; padding: 1em 2em; }
main section h1 { font-size: 2em; }

#skillcloud {
    display: block;
    margin: 0 auto;
    width: 100%;
}

#triangle {
    display: none;
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1em solid #0F81CC;
    margin: 0.5em auto 0 auto;
}

#accordion-content {
    display: none;
    background-color: #0F81CC;
    color: white;
    padding: 1.5em 0;
    margin: 0 auto 1em auto;
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}

#accordion-content article {
    color: white;
    width: 79%;
    margin: 0 auto;
}

#accordion-content h1 { font-size: 1.5em; font-weight: bold; }
#accordion-content p {
    margin-top: 0.75em; 
    font-size: 1em;
}

#contact ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1em 0;
}

#contact ul li {
    display: inline-block;
    background-color: #0F81CC;
    color: white;
    padding: 1em;
}

#contact ul li:hover {
    background-color: #2E92D3;
}

/* FOOTER */

footer {
    background-color: #777777;
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

footer a {
    text-decoration: underline;
    color: white;
    font-size: inherit;
    font-family: inherit;
}

#copyright { padding-right: 1em; }
#acknowledgements {
    border-left: 0.01em white solid;
    padding-left: 1em;
    font-size: 0.8em;
}

/* RULES SPECIFIC TO SCREEN SIZE */

@media screen and (max-width: 1023px) {
    .n2 { margin-left: 0; }
    #mobile-nav {
        background-color: #666666;
        display: inline-block;
        padding: 0.5em;
    }
    #desktop-nav { display: none; }
}

@media screen and (max-width: 768px) {
    header p { margin-left: 10%; }
    .view-container {
        display: flex;
        align-items: center;
    }
    .animated-text { width: 100%;}
    #typewrite { font-size: 2em; }
}