@font-face {
    font-family: "Highway Gothic Wide";
    src: url("HighwayGothicWide.ttf");
}

@keyframes slide-fromTop {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes slide-fromRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slide-fromLeft {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Highway Gothic", sans-serif;
    font-size: 20px;
}

body {
    /*background-color: #fefdfb;*/
    background: url("/images/background.jpg");
    color: #333333;
    animation: fadeIn 2s;
}

nav a {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.6em 1.25em;
    margin: 0.25em 0;
    text-align: center;
    color: #333;
    text-decoration: none;
    display: block;
}
nav ul { list-style: none; }
nav {
    position: absolute;
    float: right;
    left: 85%;
    width: 15%;
    animation: slide-fromRight 1.5s;
}
nav .mobile-dropdown {
    background-color: #666666;
    display: inline-block;
}
nav .mobile-rect {
    width: 2em;
    height: 0.1em;
    background-color: white;
    margin: 0.3em 0.5em;
}
nav .mobile-dropdown :first-child { margin-top: 0.75em; }
nav .mobile-dropdown :last-child { margin-bottom: 0.75em; }

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    padding-top: 1em;
    animation: slide-fromTop 1.5s;
}
header h1 { margin-right: 2em; margin-left: 10%; display: inline-block; font-family: "Highway Gothic Wide", sans-serif; }
.n1 { font-size: 2.5em; font-family: inherit; }
.n2 { color: #29ABE2; font-size: 2.5em; margin-left: 0.25em; font-family: inherit; }

.animated-text {
    font-family: "Arial", sans-serif;
    font-size: 1em;
    padding: 1.5em 0;
    margin: 0 2em 0 10%;
}

.animated-text h1 {
    font-family: inherit;
    font-size: 1em;
}
#typewrite {
    font-size: 3em;
}

#typewrite .cursor {
    border-right: 0.03em solid #222;
    font-size: 1em;
    margin-left: 0.03em;
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 70vh;
}

.view-buttons {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    max-width: 80%;
    margin: 0 auto;
}

.view-buttons a {
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 1.5em;
    color: white;
    margin: 0 auto;
}

.view-buttons a i {
    margin-left: 0.5em;
}

#github { background-color: #333333; }
#github:hover { background-color: #444444; }
#resume { background-color: #0F81CC; }
#resume:hover { background-color: #2E92D3; }

#projects { margin-top: 3em; }

main section li {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 2em;
    width: 90%;
    margin: 1em auto;
}

main section li * {
    padding: 0.5em 2em;
}

main section li h1 {
    font-size: 1em;
    font-family: 'Arial', sans-serif;
}

main section h1 {
    font-size: 2em;
}

footer {
    background-color: #777777;
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}

#copyright { padding-right: 1em; }
#acknowledgements {
    border-left: 0.01em white solid;
    padding-left: 1em;
}

footer a {
    text-decoration: underline;
    color: white;
    font-size: inherit;
}

@media screen and (max-width: 1023px) {
    .n2 { margin-left: 0; }
}

@media screen and (max-width: 768px) {
    header p { margin-left: 10%; }
    .view-container {
        display: flex;
        align-items: center;
    }
    .animated-text { width: 100%;}
    #typewrite { font-size: 2em; }
}